body{
    font-family: 'Montserrat', sans-serif;
    background: black;
    text-align: center;
}

a:link, a:visited, a:active, a:hover{
    color: #FF9900;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
  }

input {
    line-height: 35px;
    width: 375px;
}

button {
    line-height: 40px;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: #FF9900;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    margin: 0;
    border: 0;
}